/.vscode
/.git
/.idea
/build
/bin
module-resolve.json
/ci_lib/
/ci_test/
/setup.sh
/test/HLT/report/
/test/HLT/log/
/test/HLT/tmp/
*.gcda
*.gcno
lib
cryptocj
cryptocj1
crypto4cj
test1
unittest
log
report
tmp
.cjpm-history
module-lock.json
temp_ci_lib/
*.macrocall
.cache
cjpm.lock
target
test_temp
LLT
HLT
UT
test/
