*.cjo
.vscode/
build/
module-resolve.json
*.gcda
*.gcno
ci_test/
ci_lib/
bin/
charset/
lib/
log/
charset/
.cjpm-history
module-lock.json
report/
tmp/
*.macrocall
test/tmp/*
target/
test_temp/
.cache/
cjpm.lock
.devbrain
